body {
	width: 100%;
}

h1 {
	text-align: center;
	background-color: lightgray;
}
.color-box {
	align-items: center;
	width: 100px;
	height: 100px;
	display: flex;
	cursor: pointer;
	padding: 2rem;
	border-radius: 0.5rem;
	border: 2px solid;
	transition: 0.5s;
}
.color-grid {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(4, 0.13fr);
	justify-content: center;
}


.color-box:hover {
	transform: scale(1.15);
}
.input-group {
	text-align: center;
	margin-top: 20px;
}
