:root {
    --primary-blue: #007bff;
    --light-blue: #e8f4ff;
    --dark-text: #2c3e50;
    --light-text: #7f8c8d;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: white;
    color: var(--dark-text);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    background-color: lightgray;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 10px 20px;
}

.nav-links a:hover {
    color: blue;
}

.username {
    background-color: lightgray;
    color: rgb(9, 9, 9);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.section {
    padding: 80px 0;
    text-align: left;
}

.section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.content {
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

h1 .highlight {
    color:blue;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #0056b3;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ; 
}
.hero-image img:hover {
    transform: scale(1.5); 
    opacity: 0.7;             
}